.img-container > img{
    /* width: 300px; */
    object-fit: cover;
    width: 200px;
    height: 200px;

}

.movie-card{
    margin: 20px;
    /* background-color: pink; */
    border: 4px solid rgb(22, 90, 90);
    overflow: hidden;
    width: 200px;
}

.movie-Title{
    font-size: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
    font-weight: 500;
    word-wrap: break-word;
    text-overflow: ellipsis;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}

.movie-desc{
    /* background-color: red; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

select{
 
   padding: 3px;
   border-radius: 10px;
   font-size: 15px;
   margin-top: 10px;
   margin-bottom: 10px;
   width: 90%;
}

@media screen and (max-width:800px)  {
    .img-container > img{
        /* width: 300px; */
        object-fit: cover;
        width: 120px;
        height: 120px;
    
    }

    .movie-card{
        margin: 20px;
        /* background-color: pink; */
        border: 4px solid rgb(22, 90, 90);
        overflow: hidden;
        width: 120px;
    }
    
}