nav{
    background-color: rgb(32, 75, 75);
    display: flex;
    color: white;
    justify-content: space-around;
    padding: 10px 0;
    align-items: center;
}

a{
    color: white;
    text-decoration: none;
}

.logout-container > button{
   padding: 7px;
}